body {
    margin: 0 60px 0 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 70px;
    display: flex;
    position: relative;
}

#logo img {
    height: 70px;
}

#menu {
    margin-top: 25px;
    margin-left: 10px;
}

#menu a,
#menu2 a {
    color: #000;
    text-decoration: none;
    padding: 15px;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu2 {
    margin-top: 25px;
    right: 0;
    position: absolute;
}

.banner img,
.banner2 img {
    width: 100%;
    height: 100%;
}

.banner2 {
    position: relative;
}

.banner2 div {
    position: absolute;
    top: 30%;
    left: 60px;
}

.destaque {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 85px;
}

.destaque div {
    cursor: pointer;
    padding-left: 70px;
}

.destaque div:hover {
    text-decoration: underline;
}

.destaque p {
    margin-top: 0;
}

.destaque img {
    width: 45px;
}

.noticias {
    display: flex;
    margin-top: 60px;
}

.noticias div,
.negocios div {
    margin-left: 24px;
    cursor: pointer;
    margin-bottom: 50px;
    max-width: 279px;
}

.noticias div:first-child,
.negocios div:first-child {
    margin-left: 0px;
}

.noticias p:first-of-type,
.negocios p:first-of-type {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 30px;
}

.noticias p:last-of-type,
.negocios p:last-of-type {
    margin-top: 0;
}

.noticias a,
.negocios a {
    text-decoration: none;
    font-weight: 600;
    color: #0067B8;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}

.noticias a:hover,
.negocios a:hover {
    border-bottom: 2px solid #0067B8;
    transition: .2s;
}

.titulo-negocios {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.negocios {
    display: flex;
}

.covid {
    background-color: #e6e6e6;
    margin: 0 30px 0 5px;
    padding: 15px 0 10px 0;
    text-align: center;
}

.covid h2 {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 10px;
}

.covid p {
    font-size: 15px;
    margin-top: 8px;
}

.covid a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}

.covid a:hover {
    border-bottom: 2px solid #000;
    transition: .2s;
}

.paginas {
    display: flex;
    margin-top: 50px;
}

.paginas img {
    width: 28px;
    height: 28px;
    margin-left: 20px;
}

.paginas p {
    color: rgba(0, 0, 0, .6);
    margin-top: 2px;
    font-size: 15px;
}

footer {
    background-color: #e6e6e6;
    margin: 0 -60px 0 -60px;
    display: flex;
    margin-top: 50px;
}

footer div {
    max-width: 190px;
    margin-left: 30px;
}

footer p {
    font-weight: 600;
    color: rgba(0, 0, 0, .6);
}

footer a {
    text-decoration: none;
    color: #616161;
    word-break: break-word;
    font-size: 11px;
    line-height: 30px
}

footer ul {
    list-style-type: none;
}